@import 'styles/helpers';

.pageHeader {
  padding: 16px 32px;
  background: $grey-1;
  border-bottom: 1px solid $shadow-color-light;

  &-breadcrumb {
    margin-bottom: 16px;
  }

  &-pageTitle {
    font-size: $font-size-xl;
    margin-bottom: 16px;
  }
}