@import 'styles/helpers.scss';

.errorToast {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: $z-index-3;
  animation: show 400ms forwards;

  @keyframes show {
    to {
      top: 30px;
    }
  }

  &__content {
    max-width: 300px;
    max-height: 300px;
    padding: 12px 20px;
    border-radius: 9px;
    color: $grey-9;
    font-size: 14px;
    background-color: #fff;
    box-shadow: $shadow-1-down;
  }

  &__close {
    color: $red-6;
  }
}
