@import "styles/helpers";

.signup {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__signupPanel {
    display: flex;
    flex-direction: column;
  }

  &__appInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
  }

  &__appLogo {
    height: 40px;
    margin-right: 16px;
  }

  &__appName {
    font-size: 32px;
    font-weight: bold;
    white-space: nowrap;
  }

  &__appDesc {
    margin: 12px 0 40px 0;
    color: $font-color-secondary;
    text-align: center;
  }

  &__signupInput {
    height: 40px;
    margin-bottom: 24px;
    position: relative;

    &--error {
      margin-left: 10px;
      position: absolute;
      z-index: $z-index-1;
      top: 10px;
      left: 100%;
      white-space: nowrap;
      color: $red-6;
    }
  }

  &__signupBtn {
    height: 40px;
  }

  &__intlSwitch {
    margin-top: 40px;
  }

  &__intlItem {
    cursor: pointer;
    &--active {
      color: $blue-5;
    }
  }

  &__intlSwitchSeparator {
    margin: 0 12px;
  }

  &__errorMsg {
    text-align: center;
    margin-top: 12px;
    color: $red-6;
  }
}
