$current: 5;
@while $current <= 20 {
  .mt-#{$current} {
    margin-top: #{$current}px;
  }
  .mr-#{$current} {
    margin-right: #{$current}px;
  }
  .mb-#{$current} {
    margin-bottom: #{$current}px;
  }
  .ml-#{$current} {
    margin-left: #{$current}px;
  }
  $current: $current + 5;
}